PRIVATE_ICAL_URL=https://calendar.google.com/calendar/ical/...%40group.calendar.google.com/private-.../basic.ics # private google calendar url
PASTEBIN_URL=https://raw.githubusercontent.com/tyeth/terminus-publisher/refs/heads/playing/public/motd.txt # pastebin url for the message of the day, must be public or unlisted
LATITUDE=-02.0000
LONGITUDE=51.0000
TIME_ZONE=Europe/London # get from https://open-meteo.com/en/docs
TARGET_DATE=2025-12-25
TERMINUS_URL=http://localhost:2300
DEVICE_API_KEY= # get from terminus url UI